<app-home></app-home>
<div class="login">
    <div class="content">
        <img src="./assets/img/login-usuario.png" width="150px">
        <h1>Login</h1>
            <mat-form-field class="input-login" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Ex. pat@example.com" required>
            </mat-form-field>
        <mat-form-field class="input-login" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password">
        </mat-form-field><br>
        <button class="button-login" mat-flat-button [routerLink]="['/home']">Ingresar</button>
    </div>
</div>
